.body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    width:450px;
    border: 1px solid lightgray;
    padding:10px;
    margin: 10px auto;
    border-radius:20px;
}
.img{
    position:relative;
}
.img1{
    width:100%;
    border-radius: 20px;
}
.discount{
    border:none;
    padding: 4px;
    background-color: rgb(53, 127, 238);
    width: 165px;
    color: white;
    border-radius: 4px;
    font-size: 20px;
    position: absolute;
    bottom:23px;
    left:0px;
}
.time{
    position: absolute;
    bottom: 23px;
    right: 15px;
    padding: 4px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 20px;
    border: none;
}
.promoted{
    position: absolute;
    top: 10px;
    left: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    filter: blur(0.4px);
    font-size: 18px;
    width: 88px;
    text-align: center;
}
 h1{
    font-size:30px;
}
h2{
    font-size: 25px;
    color: gray;
}
.footer{
    border-top:1px solid lightgray;
 
}
.foot{
    display: flex;
}
.footer .img2{
    width: 65px;
    height: 30px;
    margin-top: 20px;
}
.footer p{
    font-size: 23px;
    color: grey;
    margin-left: 10px;
    margin-top: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
